<div class="mining-form-container">
    <app-mining-form-location></app-mining-form-location>
    <mat-divider class="mining-form-container-divider"></mat-divider>
    <br>
    <app-mining-form-ore *ngFor="let ore of orelistService.ores" [id]="ore.id"></app-mining-form-ore>
    <br>
    <button class="mining-form-container-add-ore-button" mat-raised-button (click)="addOre()">Add Ore</button>
    <br>
    <mat-divider class="mining-form-container-divider"></mat-divider>
    <br>
    <div class="mining-form-container-total">
        <div class="mining-form-container-total-element"></div>
        <div class="mining-form-container-total-element">Total Value:</div>
        <div class="mining-form-container-total-element">{{totalOreValue | number: '1.0-2'}} aUEC</div>
    </div>
</div>